@import '../../common/variables.sass'

:root
  --postSidePadding: 130px
  --postCodeBgColor: #0a0a1dd5
  --postCodeForegroundColor: #d5d5d575

@media (max-width: 992px)
  :root
    --postSidePadding: 2.2em
  .container
    max-width: 90%

@media (max-width: 768px)
  :root
    --postSidePadding: 0.7em
  .container
    max-width: 100%

body.dark
  .BlogPost
    background-color: $bgColorDarkContrast

.BlogPost
  background-color: $bgColorLightContrast
  padding: 0 var(--postSidePadding)
  margin: 0

  &-content
    padding: 1.5em 0
    line-height: 1.45em
    margin-top: 2rem

    &-html
      margin-top: 4rem

    &-html > p:first-of-type::first-letter
      float: left
      font-weight: bold
      font-size: 7rem
      line-height: 4rem
      height: 4rem
      text-transform: uppercase
      padding-right: 10px
      padding-right: 10px

  &-tags
    margin-bottom: 1em
    padding-left: 0
    padding-right: 0
    a
      @include round-button($secundary)
      color: $secundary
      border-color: $secundary

  blockquote
    font-size: 120%
    font-style: italic
    border-color: inherit
    margin: 3rem 0

  &-footer
    display: flex
    justify-content: space-between
    margin: 2em 0
    width: 100%

    &-previousPost,
    &-nextPost
      a
        @include round-button

  &-comments
    width: 100%

  h2, h3
    margin-top: 3rem

p code
  color: $primary
  font-size: 70%
  background-color: var(--postCodeBgColor)
  display: inline
  padding: 3px

pre
  background-color: var(--postCodeBgColor) !important
  margin: 0 calc(--postSidePadding * -1) 1em calc(--postSidePadding * -1) !important

  code
    display: block
    color: var(--postCodeForegroundColor)
    font-size: 90%
    background-color: var(--postCodeBgColor)
    width: 100%
    font-weight: bold
    padding: 0.5em 1em


