@import '../../common/variables.sass'

body.darkMode
  .BlogPost
    background-color: $bgColorDarkContrast

.BlogPost
  background-color: $bgColorLightContrast
  padding: 0 $postSidePaddingLarge
  margin: 0

  @media(max-width: 991px)
    padding: 0 $postSidePaddingSmall

  &-content
    padding: 1.5em 0
    line-height: 1.45em
    margin-top: 2rem

    &-html
      margin-top: 4rem

    &-html > :first-child::first-letter
      float: left
      font-weight: bold
      font-size: 7rem
      line-height: 4rem
      height: 4rem
      text-transform: uppercase

  &-tags
    margin-bottom: 1em
    padding-left: 0
    padding-right: 0
    a
      @include round-button($secundary)
      color: $secundary
      border-color: $secundary

  blockquote
    font-size: 150%
    font-style: italic
    border-color: inherit

  &-footer
    display: flex
    justify-content: space-between
    margin: 2em 0
    width: 100%

    &-previousPost,
    &-nextPost 
      a
        @include round-button
  
  &-comments
    width: 100%
  
p code
  color: $primary
  font-size: 70%
  background-color: $postCodeBgColor
  display: inline
  padding: 3px

pre
  background-color: $postCodeBgColor !important
  margin: 0 ($postSidePaddingLarge * -1) 1em ($postSidePaddingLarge * -1) !important

  @media(max-width: 991px)
    margin: 0 ($postSidePaddingSmall * -1) 1em ($postSidePaddingSmall * -1) !important

  code
    display: block
    color: $postCOdeFontColor
    font-size: 90%
    background-color: $postCodeBgColor
    width: 100%
    font-weight: bold
    padding: 0.5em 1em

  
  