@import '../../../common/variables'

.Header
  background-color: $bgColorDark
  box-shadow: 5px 0 10px #131313d0
  border-bottom: 2px $primary solid
  color: inherit
  height: $headerHeight
  position: fixed
  top: 0
  width: 100%
  z-index: 500

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
    height: inherit

    nav
      display: flex
      align-items: center
      font-family: 'Exo', sans-serif
      color: $primary
      a
        text-decoration: none
        font-size: 0.9rem
        padding-right: 20px

  &__logo
    .Icon
      height: $headerHeight

body.light
  .Header
    background-color: $bgColorLight
    nav
      color: $fontColorForLight
