@import '../common/variables.sass'

.Home
  @include headlines()
  &-me, &-posts
    padding: 10px
    max-width: 1140px

  &-current-project
    display: flex
    justify-content: center
  &-current-info
    margin-top: 1rem
    padding: 1em
    max-width: 900px

  @media(max-width: 576px)
    &-posts
      padding: 0px


