$primary: #EC5858
$secundary: #47536a

$bgColorLight: #cacaca
$bgColorDark: #202029
$bgColorDarkContrast: #19191d
$bgColorLightContrast: #dadada

$fontLight: #c6c6c9a5
$fontColorForDark: #b6b6b9e0
$fontColorForLight: #352434e0

$selectedTextColor: #eee
$selectedTextBg: #40407080

$iconWidth: 1em
$headerHeight: 50px
$logoWidth: 30px
$footerHeight: 150px

$heroHeight: 500px
$heroLargeHeight: 75vh
$heroMediumHeight: 500px
$heroTextColor: #e2e2e2
$heroContentWidth: 1000px
$heroBackgroundColor: rgba(0, 0, 0, 0.3)

$socialMediaHeroHeight: 40px
$socialMediaHeroWidth: 300px

$buttonMinWidth: 30px
$buttonBorderSize: 2px
$buttonPaddingWidth: 10px
$buttonPaddingHeight: 6px

// Mixins

@mixin headlines ()
  h1, h2
    text-align: center
  h1::before,
  h2::before,
  h1::after,
  h2::after
    content: " - "

@mixin round-button ($color: $primary)
  display: inline-block
  border: $buttonBorderSize solid $color
  border-radius: $buttonMinWidth - $buttonPaddingWidth
  color: $color
  font-size: 1rem
  line-height: 1.5rem
  font-weight: bold
  margin: 0 5px
  min-width: $buttonMinWidth
  padding: 0.5rem 0.8rem
  text-align: center
  text-decoration: none

  &:hover
    border-color: $secundary
    color: $secundary
  &-active
    background-color: $color
    color: $secundary