$primary: #FF4500
$secundary: #eaeaea

$bgColorLight: #eaeaea
$bgColorDark: #161619
$bgColorDarkContrast: #19191d
$bgColorLightContrast: #e0e0e0
$fontColorForDark: #e0e0e0e9
$fontColorForLight: #200f0f

$headerHeight: 50px

$buttonBorderSize: 2px
$buttonMinWidth: 30px
$buttonPaddingWidth: 10px

// Mixins

@mixin headlines ()
  h1, h2
    text-align: center
  h1::before,
  h2::before,
  h1::after,
  h2::after
    content: " - "

@mixin button ($color: $primary)
  display: inline-block
  color: $color
  font-family: 'Exo'
  font-size: 1rem
  line-height: 1.5rem
  font-weight: bold
  margin: 0 5px
  min-width: $buttonMinWidth
  padding: 0.5rem 0.8rem
  text-align: center
  text-decoration: none

  body.light &:hover
    border-color: $color
    background-color: $color
    color: $secundary
  body.light &-active
    background-color: $color
    color: $secundary

  &:hover
    border-color: $secundary
    color: $secundary
  &-active
    background-color: $color
    color: $secundary

@mixin round-button ($color: $primary)
  @include button($color)
  border: $buttonBorderSize solid $color
  border-radius: $buttonMinWidth - $buttonPaddingWidth

@mixin paginator-button ($color: $primary)
  @include button($color)
  border: 2px solid $color
  border-radius: 10px

@mixin align-center
  display: flex
  align-items: center
  justify-content: center

// Custom classes

.round-button
  @include round-button

.paginator-button
  @include paginator-button
  border: none

.white-box
  color: $bgColorDark
  font-weight: 600
  font-size: 0.9rem
  border-radius: 5px
  border-radius: 10px
  border: 5px solid $bgColorDark
  background-color: white
  padding: 0.7em

.section
  border-radius: 20px
  display: flex
  align-items: center
  flex-direction: column
  flex: 1
  padding: 2rem
  max-width: 1140px
  margin: 0 auto
  margin-top: 3rem

  @media(max-width: 576px)
    &
      padding: 0px

.section:first-child
  margin-top: 5rem

.cta
  @include align-center
  box-sizing: border-box
  margin: 2rem 0
  width: 100%

a
  color: inherit
  text-decoration: underline
a:hover
  color: $primary